$primary: #79AC78;
$secondary: #393E46;
$dark: #222831;
$light: #EEEEEE;

$spacer: 2rem;

@import "../node_modules/bootstrap/scss/bootstrap";

.source-code-pro-heavy {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal
}

.source-code-pro-normal {
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 8rem;
}

body {
  font-size: 1.6rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 1rem 5rem;
}

.header-nav-full {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.header-nav-full li {
  padding: 2.2rem 2rem;
}

/* <style for menu__icon> ======== */
.menu-icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.menu-icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: #252a34;
  box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
  transition:
    transform 0.4s,
    background-color 0.4s,
    opacity 0.4s;
}

.menu-icon:hover span:nth-child(1) {
  background-color: #ff2e63;
  transform: translateY(11px) rotate(-45deg);
}

.menu-icon:hover span:nth-child(2) {
  transform: translate(-50%);
  opacity: 0;
}

.menu-icon:hover span:nth-child(3) {
  background-color: rgb(255, 59, 48);
  transform: translateY(-11px) rotate(45deg);
}

@media (max-width: 767px) {
  .header-nav-full {
    display: none;
  }

  .menu-icon {
    display: flex;
  }
}

#about,
#projects,
#testimonial,
#contact {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

#hero {
  max-height: 100vh;
  min-height: 100vh;

  background-image: url("../images/connected-25.png");

}

.hero-header {
  font-size: 7rem;
  text-transform: uppercase;
  max-width: 100rem;
}

.hero-info {
  padding-top: 2rem;
  max-width: 80rem;
  font-size: 2.1rem;
}

.hero-btn {
  font-size: 2rem;
  padding: 1.5rem 8rem;
  border-radius: 0.5rem;
}

.mouse {
  margin-top: 3rem;
  width: 3rem;
  height: 5rem;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;

  &::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

.title-hr {
  width: 3rem;
  height: 0.5rem;
  border-radius: 2rem;
}

.title-desc {
  font-size: 1.8rem;
  margin-bottom: 10rem;
  width: 50%;
  color: #333;

}

.section-title {
  font-weight: 500;
  margin-bottom: 3rem;
  font-size: 6rem;
  line-height: 6rem;
}

#about {


  .about-desc {
    font-size: 1.6rem;
  }

  .skills {
    .skill {
      font-size: 1.6rem;
      color: white !important;

    }
  }

}

#testimonial {
  min-height: 20rem;
  color: black;

  .carousel {
    color: $dark;
  }

  .client-thumbnail {
    max-width: 15%;
  }

  .carousel-content {
    max-width: 80%;
  }






  .client-name {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

@include media-breakpoint-up(md) {
  #testimonial {
    p {
      /* font-size: 1rem; */
    }

    .client-thumbnail {
      max-width: 15%;
      height: auto;
    }

    .carousel-content {
      max-width: 50%;
    }
  }
}

@include media-breakpoint-up(lg) {
  #testimonial {
    p {
      /* font-size: 1rem; */
    }

    .client-thumbnail {
      max-width: 18%;
      height: auto;
    }

    .carousal-content {
      max-width: 40%;
    }
  }
}


#contact {
  .contact-card {
    min-height: 50rem;
    border-radius: 2rem;
  }

  .hv {
    min-height: 100%;
    max-width: 1px;
    background-color: $dark;
    padding: 2rem 0;
    border-radius: 2rem;
    opacity: .10;

  }
}

@media (max-width: 767px) {
  .hero-header {
    font-size: 5rem;
  }
}
